body{font-size:14px;color:#1a1a1a;font-family:"微软雅黑";line-height:28px;}
@media (min-width:768px){.navbar-nav > li,.navbar-nav{float:none;}.nav > li{display: inline-block;}.dl-horizontal dt{width:70px;}.dl-horizontal dd {margin-left: 90px;}.cont dt{width: 50px}.cont dd{margin-left: 60px;}}
a,a:focus, a:hover{color:#414ea1;}
a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}
a:focus { outline:0;}
.nav > li > a{padding:5px;margin:10px 20px;}
.navbar-default{background-color:#414ea1;border:none;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{background-color:#414ea1;color:#fff;border-bottom:1px solid #fff;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {color: #fff;background-color: #414ea1;}
.navbar-default .navbar-nav > li > a{color:#fff;}
.form-control{border-radius:0}
.navbar {border-radius: 0px;margin-bottom:0}
.btn-group-lg > .btn, .btn-lg{padding:10px 35px;}
.list-unstyled a{display:block;}
.dropdown-menu{left:-20%}
.navbar-default .navbar-nav > li > a{border-bottom:1px solid #414ea1}

.p10{padding:10px;}
.ptb20{padding-top:20px;padding-bottom:20px;}
.mtb20{margin-bottom:20px;margin-top:20px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mt30{margin-top:30px;}
.mr10{margin-right:10px;}

.line20{line-height:20px;}
.fcb{color:#1a1a1a!important;}
.fch,.newsl .fch{color:#676767;}
.fcr{color:red;}
.fcbl{color:#414ea1!important;}
.allw{text-align:center}
.allw img{max-width:100%;}

.bgbf{background-color:#f2f9ff}

.tit span,.tit2 span{display:inline-block;padding-bottom:15px;border-bottom:1px solid #d1d2d4;color:#414ea1;}
.tit span{padding-left:30px;padding-right:30px;}
.tit2 span{padding-left:10px;padding-right:150px;}

.btn-outline{border:1px solid #414ea1;color:#414ea1;border-radius:0;transition:0.2s}
.btn-outline.focus, .btn-outline:focus, .btn-outline:hover{background-color:#414ea1;color:#fff;}
.showi{border:1px solid #ddd;transition:0.2s}
.showa,.newsl{color:#1a1a1a;transition:0.2s}
.showa:hover,.newsl:hover{text-decoration:none;color:#414ea1;}
.showa:hover .showi{border-color:#414ea1;}
.list-unstyled li{border-bottom:1px solid #d1d2d4;padding-top:10px;padding-bottom:10px;}


.footer{background-color:#414ea1;padding-top:40px;padding-bottom:30px;color:#fff;line-height:22px;}
.dl-horizontal .glyphicon{font-size:25px;margin-right:15px;} 
.w1{width:170px;padding:10px;text-align:center;margin-top:5px;margin-right:10px}
.jdes{margin-top:25px;margin-bottom:25px;}
.jdes div{width:100%;height:174px;background:url('../images/job1.jpg') no-repeat center;font-size:24px;line-height:174px;color:#414ea1;}
.jdes p{padding-left:30px;padding-right:30px;font-size:18px;line-height:30px;color:#4e4c4c;margin-top:20px;}
.nl{border:none;height:1px;background-color:#c7ccf2;width:150px;margin-top:0;margin-bottom:0}
.newsl2 h4{color:#1a1a1a}.neww{color:#373737;line-height:26px;}
.pro{display:block;overflow:hidden;position:relative;}
.move{position:absolute;bottom:0;left:0;right:0;top:175px;background-color:rgba(57,150,255,0.7);transition: top 0.5s;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#b23996ff);}
.move .glyphicon{font-size:30px;color:#fff;line-height:168px;}
.pro:hover .move{top:0;}
.blue{width:130px;text-align:center;background-color:#414ea1;color:#fff;font-size:20px;}
.cont dt,.cont dd{line-height:28px;margin-bottom:5px;}